@use "src/styles/mixins" as *;
.oval-nav{
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 40%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: min-content;
    transform: translateY(-50%);
    z-index: 1;

    @include md-down{
        display: none;
    }
    button{
        color: var(--color-accent);
        width: 62px;
        height: 52px;
        border-radius: 60px;
        border: 1px solid currentColor;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;
        &:hover{
            background-color: var(--color-accent);
            color: var(--color-white);
            border-color: var(--color-accent);
        }
        .nav-arrow{
            width: 16px;
            height: 16px;
            fill: currentColor;
        }
    }
    &__prev{
        transform: rotate(180deg);
    }

    &__next{

    }

}