@use "src/styles/mixins" as *;
.cta-hop{

    position: relative;
    background-color: var(--color-black);
    color: var(--color-white);

    .container{
        position: relative;
        padding-block: 252px 50px;
        display: flex;
        justify-content: center;
        @include xs-up{
            padding-block: 300px 80px;
        }
        @include sm-up{
            padding-block: 320px 80px;
        }

        @include md-down{
            padding-inline: 40px;
        }
        @include md-up{
            padding-block: 66px;
            justify-content: right;
        }
    }
    
    &__image-wrapper{
        position: absolute;
        z-index: 0;
        overflow: hidden;
        width: 320px;
        @include xs-up{
            width: 400px;
        }
        @include sm-up{
            width: 450px;
        }
        @include md-down{
            top: 0;
            right: 0;
            left: 0;
            margin-inline: auto;
            transform: translateY(-30%);
        }
        @include md-up{
            left: 0;
            right: 0;
            bottom: 0;    
            height: 118%;
            margin: auto;    
            transform: translateX(-60%);
            width: max-content;
        }
        
        img{
            object-fit: contain;
            max-width: 100%;
            max-height: 100%;
        }
        video{
            position: absolute;
            top:0;
            bottom: 0;
            margin: auto;
            transform: translate(-3%, -1%) scale(.8);

            @include md-up{    
                transform: translateX(36%) translateY(6%);
            }

            @include lg-up{    
                transform: translateX(35%) scale(1.3);
            }
        }
    }

}

section:has( + .cta-hop) {
    padding-bottom: 168px;
    @include md-up{
        padding-bottom: 215px;
    }
}

.about-us{ 
    .cta-hop{
        .container{
            padding-bottom: 50px;
            @include md-down{
                display: flex;
                flex-direction: column;
                padding-block: 0 50px;
                justify-content: center;
                align-items: center;
            }
        }
        .cta-hop__image-wrapper{
            @include md-down{
                max-width: 350px;
                margin-top: -70px;
                transform: none;
                position: relative;
            }
            @include sm-down{
                max-width: 250px;
            }
            @include xs-down{
                margin-top: -40px;
                max-width: 200px;
            }
        }
    }
}