.scrolldown{
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-white);
    border: 1px solid var(--color-white);
    z-index: 2;
    &:hover{
        background: var(--color-accent);
        border-color: var(--color-accent);
    }
}